{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": ["last 4 versions", "ie >= 9"],
                    "node": "current"
                },
                "useBuiltIns": "usage",
                "debug": true,
                "loose": true
            }
        ],
        "@babel/preset-react"
    ],
    "ignore": ["node_modules"],
    "plugins": ["@babel/plugin-proposal-object-rest-spread"],
    "sourceMaps": true,
    "retainLines": true
}
